:root {
  /* variabels */
  --blue: #142F43;
  --lightblue: #5CB8E4;
  --purple: #3D087B;
  --red: #F32424;
  --yellow: #FFE162;
  --white: #EEEEEE;

  /* fonts */
  --gloock: 'Gloock', serif;

}

body,
html {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box !important;
  background-color: var(--white);
  font-family: var(--gloock);
  color: var(--purple);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


/* form */
h1 {
  /* margin-top: 125px; */
  text-align: center;
  line-height: 50px;
}

span {
  font-size: 1.2em;
}

form {
  padding: 25px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin: 25px;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  border-color:var(--purple) ;
}

input[type=text] {
  width: 60%;
  border-color: var(--purple);
  background-color: var(--white);
}


input[type=submit] {
  background-color: var(--purple);
  border-color: var(--blue);
  justify-self: end;
  color: var(--white);
  transition: bacground-color 0.25s;
  /* transition: color 0.25s; */
}

input[type=submit]:hover {
  background-color: var(--yellow);
  color: var(--purple)
}

/* player markers */
.marker,
.player-number {
  width: 100px;
  height: 35px;
  font-size: 18px;
  margin: 25px 3px;
}


/* GAMEBOARD BORDERS */
.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 0px;
  row-gap: 0px;
  width: 600px;
  height: 600px;
}

.game-tile {
  margin: 0;
  box-sizing: border-box;
  font-size: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3D087B;
  color: var(--yellow);
  margin: 5px;
  border-radius: 25px;
  transition: background-color 0.25s;
  cursor: pointer;
}

.game-tile:hover{
  color: var(--purple);
  background-color: var(--yellow);
}

.restricted {
  cursor: not-allowed !important;
  pointer-events: none;
}

.game-container {
  display: flex;
  width: 80%;
}

.left,
.right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  flex-direction: column;
}

.display-box {
  width: 80%;
  height: 50%;
  margin: 20px;
  padding: 10px;
}

.display-none {
  display: none;
}
