:root {
  /* variabels */
  --purple: #3D087B;
  --yellow: #FFE162;
  --lightpurple: #DBCDE0;
  --white: #dfdfdf;

  /* fonts */
  --gloock: 'Gloock', serif;
  --orbitron: 'Orbitron', sans-serif;

  /* border */
  --border-radius-lg: 5px;
  --border-radius-md: 10px;
  --border-radius-lg: 25px;
}

body,
html {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box !important;
  background-color: var(--white);
  font-family: var(--gloock);
  color: var(--purple);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


/* form */
h1 {
  /* margin-top: 125px; */
  text-align: center;
  line-height: 50px;
}

span {
  font-size: 1.2em;
}

form {
  padding: 25px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin: 25px;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  border-color: var(--purple);
  color: var(--purple)
}

input[type=text] {
  width: 60%;
  border: 3px solid var(--purple);
  background-color: var(--lightpurple);
}

input::placeholder {
  color: var(--purple);
}


input[type=submit] {
  background-color: var(--purple);
  border-color: var(--blue);
  justify-self: end;
  color: var(--lightpurple);
  transition: bacground-color 0.25s;
  outline: 1px solid transparent;
  /* transition: color 0.25s; */
}

input:focus {
  outline: 1px solid transparent;
  background-color: var(--yellow);
  color: var(--purple);
  border-color: var(--purple);
}

input[type=submit]:hover {
  background-color: var(--yellow);
  color: var(--purple);
  border-color: var(--purple);
}

/* player markers */
.marker,
.player-number {
  width: 100px;
  height: 35px;
  font-size: 18px;
  margin: 25px 3px;
}


/* GAMEBOARD BORDERS */
.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 0px;
  row-gap: 0px;
  width: 600px;
  height: 600px;
}

.game-tile {
  margin: 0;
  box-sizing: border-box;
  font-size: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purple);
  color: var(--yellow);
  margin: 5px;
  border-radius: 25px;
  transition: background-color 0.25s;
  transition: color 0.25s;
  cursor: pointer;
}

.game-tile:hover:after {
  content: attr(data-tooltip);
  display: block;
  color: var(--purple);
}



.game-tile:hover {
  color: var(--purple);
  background-color: var(--yellow);
}

.restricted {
  pointer-events: none;
}

.game-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.left,
.middle,
.right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left,
.right {
  height: 50%;
  background-color: var(--yellow);
  border: 3px solid var(--purple);
  border-radius: var(--border-radius-lg)
}

.display-buttons {
  margin-top: 100px;
}

#x-name, #o-name{
  font-family: var(--orbitron);
}

.display-box {
  width: 25%;
  height: 25%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.display-none {
  display: none;
}
