:root {
  /* variabels */
  --purple: #3D087B;
  --yellow: #FFE162;
  --lightpurple: #DBCDE0;
  --white: #dfdfdf;

  /* fonts */
  --gloock: 'Gloock', serif;
  --orbitron: 'Orbitron', sans-serif;

  /* border */
  --border-radius-lg: 5px;
  --border-radius-md: 10px;
  --border-radius-lg: 25px;

  /* tile sizes */
  --tile-size: 150px;
}

body,
html {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box !important;
  background-color: var(--white);
  font-family: var(--gloock);
  color: var(--purple);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


/* form */
h1 {
  /* margin-top: 125px; */
  text-align: center;
  line-height: 50px;
}

span {
  font-size: 1.2em;
}

form {
  padding: 25px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin: 25px;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  border: 3px solid var(--purple);
  border-color: var(--purple);
  color: var(--purple)
}

input[type=text] {
  width: 60%;
  background-color: var(--lightpurple);
}

input::placeholder {
  color: var(--purple);
}


input[type=submit] {
  background-color: var(--purple);
  border-color: var(--purple);
  justify-self: end;
  color: var(--lightpurple);
  transition: bacground-color 0.25s;
  outline: 1px solid transparent;
  border-radius: var(--border-radius-md);
  /* transition: color 0.25s; */
}

input:focus {
  outline: 1px solid transparent;
  background-color: var(--yellow);
  color: var(--purple);
  border-color: var(--purple);
}

input[type=submit]:hover {
  background-color: var(--yellow);
  color: var(--purple);
  border-color: var(--purple);
}

/* player markers */
.marker,
.player-number {
  width: 100px;
  height: 35px;
  font-size: 18px;
  margin: 25px 3px;
}


/* GAMEBOARD BORDERS */
.gameboard {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 0px;
  row-gap: 0px;
}

.game-tile {
  font-size: calc(var(--tile-size) * 0.8);
  width: var(--tile-size);
  height: var(--tile-size);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purple);
  color: var(--yellow);
  margin: 5px;
  border-radius: 25px;
  transition: background-color 0.25s;
  transition: color 0.25s;
  cursor: pointer;
}

.game-tile:hover:after {
  content: attr(data-tooltip);
  display: block;
  color: var(--purple);
}



.game-tile:hover {
  color: var(--purple);
  background-color: var(--yellow);
}

.restricted {
  pointer-events: none;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  background-color: var(--purple);
  color:var(--yellow)
}

strong{
  font-size: 24px;
}

.player1,
.player2 {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

#x-name,
#o-name {
  font-family: var(--orbitron);
}

.display-none {
  display: none;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  border-radius: var(--border-radius-lg);
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--white);
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  color: var(--purple);
  width: 80%;
  /* Could be more or less, depending on screen size */
}

.modal-content .display-buttons{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}




